.DS_Store
*.tfstate
*.tfstate.backup
.terraform/
kubeconfig
*.key
*.pem
*.crt
.env
secrets/
madde-2-iac/01-drift-detection/atlantis-server/atlantis-data/
madde-2-iac/01-drift-detection/atlantis-server/.env
